ZHIPUAI_API_KEY=your_api_key_here
BROWSER_PROFILE_DIR=./browser_profiles
SCREENSHOT_QUALITY=60
SCREENSHOT_WIDTH=1280
MIN_ACTION_DELAY=800
MAX_ACTION_DELAY=2500
LOG_DIR=../logs
DOWNLOAD_DIR=../downloads
